* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

p {
  font-size: 0.73rem;
  color: #b4b3b3;
}

.detail-container {
  padding: 1rem 4rem 0 1rem;
  margin: 2rem 0;
  margin-left: 2rem;
  min-height: 80vh;
}

.detail-container h1 {
  color: #707070;
}

.image-container {
  padding: 1rem 3rem 0;
}

.image-container img {
  max-width: 100%;
  height: auto;
  border-radius: 3rem;
}

.navigation-bar {
  min-height: 18vh;
}

.navigation-btn {
  color: #000000;
}

.navigation-bar > .btn:not(:nth-child(4)) {
  filter: grayscale(100%);
}

@media screen and (max-width: 900px) {
  .detail-container {
    min-height: 50vh;
  }
}

@media screen and (max-width: 480px) {
  .image-container img {
    border-radius: 2rem;
  }
}
